[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Plugin to integrate with GitHub: replication, pull-request to Change-Sets
[access "refs/*"]
	owner = group GerritForge-github
	label-Code-Review = -2..+2 group GerritForge-github
	label-Verified = -1..+1 group GerritForge-github
	rebase = group GerritForge-github
	submit = group GerritForge-github
	removeReviewer = group GerritForge-github
[access "refs/tags/*"]
	push = +force group user/Luca Milanesio (lucamilanesio)
